  <div id="backside">
        <div id="head">
            <img src="https://zuodahao.neocities.org/back.gif">
            <h1>Game: Tangram</h1>
        </div>
        <div class="center">
            <div id="instruction">
                <p class="title">Instruction</p>
                <p>Step 1: choose model by tapping UP_ARROW and DOWN_ARROW;</p>
                <p>Step 2: collect the puzzle by dragging pieces slowly;</p>
                <p>Reset: RIGHT_ARROW; Hint: LIFT_ARROW.</p>
                <p id="inline"></p>
                <input class="sidebar" type="submit" (click)="toHome()" name="CrashBtn" value="Back" />
            </div>
        </div>
    </div>
